<div class="title w-100 d-flex justify-content-center pt-3 mt-3">
	<div class="w-75">
		<h3>danh sách thí sinh bị hủy</h3>
		<hr />
	</div>
</div>

<div class="linked text-center">
	<a href="manage">
		<i class="fa-sharp fa-solid fa-turn-left"></i>
		Quay về
	</a>
	<p>Số đơn hiện có: {{count}} </p>
</div>

<main class="table">
	<section class="tableHeader">
		<div class="container-input">
			<input type="search" placeholder="Tìm với tên ..." name="text" />
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>

		<div class="expGrp">
			<label for="expFile" class="expFile-btn">
				<i class="fa-sharp fa-solid fa-file-export"></i>
				<span>Xuất File</span>
			</label>
			<input type="checkbox" id="expFile" />
			<div class="expFile-options">
				<label>
					Xuất Ra Theo
				</label>
				<label class="file" for="export-file" id="toPDF">
					PDF
					<img src="/images/icon/pdf.png" />
				</label>
				<label class="file" for="export-file" id="toJSON">
					JSON
					<img src="/images/icon/json.png" />
				</label>
				<label class="file" for="export-file" id="toCSV">
					CSV
					<img src="/images/icon/csv.png" />
				</label>
				<label class="file" for="export-file" id="toEXCEL">
					EXCEL
					<img src="/images/icon/excel.png" />
				</label>
			</div>
		</div>
	</section>
	<section class="tableBody">
		<table>
			<thead>
				<tr>
					<th>
						STT
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Tên thí sinh
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Ngày sinh
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Thời gian hủy đơn
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Hành động
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each enrollments}}
					<tr>
						<td>{{this.EnrollmentID}}</td>
						<td>{{this.PersonalInformation.fullName}}</td>
						<td>
							{{formatDate this.PersonalInformation.birthDay}}
						</td>
						<td>{{formatDate this.deletedAt}}</td>
						<td>
							<a
								href="#"
								class="btn btn-info undoBtn"
								data-id="{{this._id}}"
							>
								<i class="fa-sharp fa-solid fa-trash-undo"></i>
							</a>
							<a
								href="#"
								class="btn btn-danger deleteBtn"
								data-id="{{this._id}}"
								data-bs-toggle="modal"
								data-bs-target="#delModal"
							>
								<i class="fa-sharp fa-solid fa-trash-xmark"></i>
							</a>
						</td>
					</tr>
				{{else}}
					<tr>
						<td colspan="5">Chưa có hồ sơ nào bị hủy !</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</section>
</main>

{{! FORM DELETE  }}
<form method="POST" name="formDel"></form>
<form method="POST" name="formUndo"></form>
{{! MODEL DELETE  }}
<div
	class="fade modal"
	id="delModal"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xóa Hồ Sơ</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<span>Bạn có chắc chắn xóa vĩnh viễn đơn tuyển sinh này không?</span>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>Hủy bỏ</button>
				<button type="button" class="btn btn-danger" id="submitDel">Chấp
					nhận</button>
			</div>
		</div>
	</div>
</div>
<script src="/js/trash.js"></script>